  <div class="container">

    <div class="row">
    <br><br>

      <div class="col s9">
        <!-- Typing field -->
        <div class="card-panel gamewindow">
              <!-- 問題　Questionary Area -->
              <div id="question" class="grey-text text-darken-4 question"></div>
              <!-- 回答　Answer Area-->
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="typed" class="materialize-textarea red-text text-darken-2 typedtxt" autofocus readonly></textarea>
                      <label for="typed"></label>
                    </div>
                  </div>
                </form>
              </div>
              <!--判定-->
        <div id="answer"></div>
        </div>
      </div>

      <div class="col s3">
        <!-- Info Panel  -->
        <div class="card-panel grey dark-2">
          <span class="white-text">
          Time: <div id="sec"></div>
          </span>
          <span class="white-text">
          Q:  2/30
          </span>
          <div id="questions_all">
          <!--問題一覧　ループ中に改行入れない-->
          <% @questions.each do |q| %><%= q.question %>,<% end %>
        </div>
        </div>
      </div>

    </div>
  <!-- container end-->  
  </div>