<main>
<div class="container">
  <div class="row">
    <div class="col s12">
    <div class="card-panel">
      <h4>ようこそ Welcome Добро пожаловать!</h4>
    <p>Typing-Ru は、ロシア語タイピング練習のためのウェブアプリです。<br>
      Typing-Ru is a web app for practicing touch typing in Russian.</p>
      <p>Chrome、Firefox、Safariの最新版で正常に動作します。PCのみです。<br>
        Typing-Ru supports latest versions of Chrome, Firefox and Safari (Only on PC).</p>
      <p>キーボードの入力言語を「ロシア語」に切り替えて、ゲームを始めてください。<br>
      Please change your keyboard language to "Russian".</p>
      <p>Typing-Ruは開発中です。バクを見つけたら<a href="https://goo.gl/forms/LfdHgaVzdLPRTayX2" target="_blank">バグ報告フォーム</a>からご連絡ください。<br>
        Typing-Ru is still prototype. If you find bugs on the app, please post from <a href="https://goo.gl/forms/LfdHgaVzdLPRTayX2" target="_blank">bug report form</a>.</p>
    </div>
    </div>

    <a href="games/level/0" class="black-text">
    <div class="col s4">
        <div class="card-panel blue lighten-3">
          <h4>Level 0</h4>
          <p>アルファベットまたは記号を１文字ずつ練習します。</p>
        </div>
    </div>
    </a>

    <a href="games/level/1" class="black-text">
    <div class="col s4">
        <div class="card-panel lime">
        <h4>Level 1</h4>
        <p>基礎単語1,000語から、ランダムで30問を出題します。</p>
    </div>
    </div>
    </a>
    <a href="games/level/2" class="black-text">
    <div class="col s4">
        <div class="card-panel pink lighten-4">
        <h4>Level 2</h4>
        <p>会話表現・ことわざなどからランダムで15問を出題します。</p>
    </div>
    </div>
  </a>
    <div class="col s4">
        <div class="card-panel blue-grey lighten-4">
        <h4>Level 3</h4>
        <p>Coming soon!</p>
    </div>
    </div>
    <div class="col s4">
        <div class="card-panel blue-grey lighten-4">
        <h4>Level 4</h4>
        <p>Coming soon!</p>
    </div>
    </div>

  </div>
</div>
</main>